<!DOCTYPE html>
<html>
    <head>
        <title>Sai Tuition center</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
    <title>Sai Tuition center</title>
    <body>
      {% include 'nav.html'%}
      <img class="img-fluid" src="https://56769aaa-1bd9-488b-bfdd-33394a4a887c-00-2sulkuj3ep7i2.pike.replit.dev:5000/static/S.png" height="50%", width="100%">
        <div class="container">
      <div>
        
        <h2 class='text-center'>Classes available</h2>
        <div>
            {% for job in jobs %}
                <div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
                  <div class="col-9">
                        <h3 
                         style='color:rgb(120,120,120)'; margin-bottom:4px>
                          {{job['title']}}
                        </h3>
                        <div>
                          <b>Duration:</b>{{job['Duration']}}
                        </div>
                  </div>
                        <div class="col-3">
                          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfBlHJRCyV8z-xivYY8_lO9hXx84UhxFWwho1_F9UHQOH7SJg/viewform?usp=sf_link" type="button" class="btn btn-outline-primary";mt-2>join</a>  
                        </div> 
                </div>    
            {% endfor %}
        </div>
      <div class="col-6 row";style="margin-top:14px";>
        <div class="text-center">
          <button class="btn btn-primary btn-lg "; class="text-center" >Contact us</button>
        </div>
      </div>
    </body>
  {% include "footer.html" %}
</html>